{% extends "base.html" %}

{% block header %}
			<h1 class="page-header">Camara <small>Vista del cuarto.</small></h1>
{% endblock %}

{% block temp %}
<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					<a onclick="refreshHumedadDataTable();" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			<h4 class="panel-title">Vista en vivo</h4>
			</div>
			<div class="panel-body">
				<div id="my_camera" style="width:320px; height:240px;"></div>
			</div>
		</div>
	</div>
</div>


{% endblock %}