{% extends "base.html" %}

{% block header %}
<h1 class="page-header">Graficas <small>Ilustracion de condicion en el cuarto.</small></h1>
{% endblock %}

{% block temp %}


<!-- begin row -->
      <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-6 col-sm-6">
          <div class="widget widget-state bg-green">
            <div class="state-icon"><i id="base-temperatura-icon"  class="glyphicon glyphicon-stats"></i></div>
            <div class="state-info">
              <h4>TEMPERATURA</h4>
              <p>
              <span id="tempt"></span> 
              </p>  
            </div>
            <div class="state-link">
              <a href="temperatura">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
          </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-6 col-sm-6">
          <div class="widget widget-state bg-blue">
            <div class="state-icon"><i id="base-humedad-icon" class="fa fa-tint"></i></div>
            <div class="state-info">
              <h4>HUMEDAD</h4>
              <p>
              <span id="humid"></span>
              </p>  
            </div>
            <div class="state-link">
              <a href="humedad">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
          </div>
        </div>
        <!-- end col-3 -->
        </div>
        <!-- end row -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-6">
      <!-- begin panel -->
      <div class="panel panel-default">
	<div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Temperatura </h4>
            <div class="panel-body">
    <div id="containert" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
	</div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
      <!-- begin col-6 -->
    <div class="col-md-6">
      <!-- begin panel -->
      <div class="panel panel-default">
  <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Humedad </h4>
  <div class="panel-body">
    <div id="containerh" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
  </div>
  </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
<!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-6">
      <!-- begin panel -->
      <div class="panel panel-default">
  <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Humo </h4>
            <div class="panel-body">
    <div id="containerhu" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
      <!-- begin col-6 -->
    <div class="col-md-6">
      <!-- begin panel -->
      <div class="panel panel-default">
  <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Liquidos </h4>
  <div class="panel-body">
    <div id="containerl" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
  </div>
  </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
</div>
</div>

<!-- end #content -->

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</div>
<!-- end page container -->
{% endblock%}  
