{% extends "base.html" %}

{% block header %}
			<h1 class="page-header">General <small>Una vista rapida, a todo lo sucedido en el cuarto.</small></h1>
{% endblock %}

{% block fast %}
	<!-- begin row -->
			<div class="row">
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-green">
						<div class="state-icon"><i id="base-temperatura-icon"  class="glyphicon glyphicon-stats"></i></div>
						<div class="state-info">
							<h4>TEMPERATURA</h4>
							<p>
							<span id="tempt"></span> 
							</p>	
						</div>
						<div class="state-link">
							<a href="/temperatura">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-blue">
						<div class="state-icon"><i id="base-humedad-icon" class="fa fa-tint"></i></div>
						<div class="state-info">
							<h4>HUMEDAD</h4>
							<p>
							<span id="humid"></span>
							</p>	
						</div>
						<div class="state-link">
							<a href="/humedad">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-red">
						<div class="state-icon"><i id="base-humo-icon" class="fa fa-fire"></i></div>
						<div class="state-info">
							<h4>HUMO EN LA SALA</h4>
							<p>
							<span id="humo" class="label label-default"></span>
							
							</p>	
						</div>
						<div class="state-link">
							<a href="/humo">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
				<!-- begin col-3 -->
				<div class="col-md-3 col-sm-6">
					<div class="widget widget-state bg-blue">
						<div class="state-icon"><i id="base-liquido-icon" class="fa fa-umbrella"></i></div>
						<div class="state-info">
							<h4>LIQUIDO EN LA SALA</h4>
							<p>
							<span id="liquidos" class="label label-default"></span>
							
							</p>	
						</div>
						<div class="state-link">
							<a href="/liquido">Ver detalles <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->	
			{% endblock %}


{% block tablesf %}
{% endblock %}
